// Should be modular!!! Should include browser reset/normalize file before!!!

// need to properly interpolate this
$desktop: 'screen and (min-width: 1025px)';

.grid__base {
  display: grid;
}

Header
.header {
  &__img {
    width: 100%;
  }
  &__hl {
    max-height: 3.1395em;
    color: rgba(255,255,255,1);
    font-family: proxima-nova,sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 100;
    text-transform: none;
    line-height: 1.0465;
    letter-spacing: normal;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.25);

    @media ($desktop) {
      font-size: 50px;
    }
  }

  &__subHl {
      color: rgba(255,255,255,1);
      font-family: proxima-nova,sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 1.605;
      letter-spacing: normal;
      text-shadow: 0px 2px 2px rgba(0,0,0,0.25);

      @media ($desktop) {
        max-height: 4.8149999999999995em;
      }
  }
}