@charset 'UTF-8';

// atomic definitions
.atomic {
  &-grid {
    &--fr2 {
      @supports(grid-area: auto) {
        @include breakpoint($desktop) {
          grid-template-columns: repeat(2, 1fr);

          .grid__unit {
            width: 50%;
            float: left;
          }
        }
      }
      @supports(grid-area: auto) {
        width: 100%;
      }
    }
    &--unit {
      width: 100%;
      float: none;
    }
  }
  &-align {
    &--left {
      float: left;
      @supports(grid-area: auto) {
        float: none;
      }
    }
    &--right {
      float: right;
      @supports(grid-area: auto) {
        float: none;
      }
    }
    &--center {
      display: block;
      margin: 0 auto;
    }
  }
  &-size {
    &--half {
      max-width: 50%;
    }
    &--narrow {
      width: 85%;
      @include breakpoint($desktop) {
        width: 60%;
      }
    }
  }
  &-text {
    &--narrow {
      @include breakpoint($desktop) {
        padding-top: $p-mini;
      }
    }
  }
  &-clear {
    &--both {
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
  }
  &-borderTop {
    padding-top: $p-small;
    border-top: 1px solid $c-grey;
  }

  &-panel {
    &--full {
      width: 100%;
    }
    &--narrow {
      width: 90%;

      @include breakpoint($desktop) {
        width: 50%;
      }
    }
  }
}