@charset 'UTF-8';

// button
.button {
  &__button {
    display: block;
    border-radius: 0.2em;
    border: solid 1px $c-black-100;
    padding: 7px 17px;
    margin-top: $p-medium;
    font-size: $font-base;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    line-height: 1.35;
    letter-spacing: normal;
    text-decoration: none;
    text-align: center;
    color: $c-black-100;
    transition: color .15s linear, background-color .15s ease-in-out,
    border-color .15s ease-in-out;

    &--cta {
      overflow: hidden;
      border: 2px solid $c-grey;
      border-radius: $p-medium;
      width: auto;
      padding: 8px 20px 9px 20px;
      text-align: center;
      font-size: 16px;
      line-height: 1;
      color: $c-grey;
      vertical-align: middle;
      text-decoration: none;

      &:before {
        content: '♥';
      }
    }
  }
}
