@charset 'UTF-8';

// page
.body {
  &__base {
    background-color: $c-body-bg;
    font-family: $font;
  }
}
.main {
  &__wrapper {
    background-color: $c-white;
    position: relative;
    padding-bottom: $p-large;
  }
}

.section {
  &__base:last-child {
    .image__img {
      display: none;
    }
  }
}