@charset 'UTF-8';

// textimage
.textimage {
  &__base {
    &--right,
    &--left {
      width: 50%;
    }
    // RTE
    p {
      @include setFont($font-base, 300, normal, 1.6t);
      text-transform: none;
      letter-spacing: normal;
      color:$c-dark-grey;
    }
    strong {
      font-weight: bold;
    }
    i {
      font-style: italic;
    }
    a {
      color: rgba(82,159,198,1);
      text-decoration: underline;
    }
    a[href^="mailto:"] {
      @include setAbsoluteCenter();
      display: inline-block;
      @include setButton($c-white, $c-black-100, 0.2em);
      @include setBorder(1px, solid, $c-black-100);
      @include setFont($font-base, 400, normal, 1.35);
      @include setTransition(all, $style-easeinout);
      padding: 7px 17px;
      margin-top: $p-medium;
      text-transform: none;
      text-decoration: none;
      text-align: center;

      &:hover,
      &:focus {
        @include setButton($c-grey, $c-white, 0.2em);
      }
    }
  }
  &__wrapper {
    margin-bottom: $m-large;
  }
  &__img + .textimage__wrapper {
    @include breakpoint($desktop) {
      padding-top: $p-large;
    }
  }
  &__img {
    @include setParallax(300px);
    // need fix parallax here with JS!
    background-attachment: scroll;

    @include breakpoint($desktop) {
      height: 500px;
    }
  }
}
