// Should be modular!!! Should include browser reset/normalize file before!!!

@import 'shared/reset';
@import '../../node_modules/breakpoint-sass/stylesheets/breakpoint';

// need to properly interpolate this
$desktop: min-width 1025px;
$font: 'proxima-nova,sans-serif';
$font-base: 20px;
$c-body-bg: #35414d;
$c-white: rgba(255,255,255,1);
$c-black-25: rgba(0,0,0,0.25);
$c-black-100: rgba(0,0,0,1);
$c-dark-50: #000000;
$c-grey: #82919b;
$c-dark-grey: rgba(17,26,11,1);
$p-large: 80px;
$p-medium: $p-large/2;
$p-small: 30px;


.body {
  &__base {
    background-color: $c-body-bg;
    font-family: $font;
  }
}
.grid__base {
  display: grid;
}

// Panel
.panel {
  &__base {
    padding-top: $p-large;
  }
}

.header {
  &__base {
    position: relative;
    .panel__base {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 0;
    }
  }
  &__img {
    width: 100%;
  }
  &__hl {
    max-height: 3em;
    color: $c-white;
    font-size: 50px;
    font-style: normal;
    font-weight: 100;
    text-transform: none;
    line-height: 1.0465;
    letter-spacing: normal;
    text-shadow: 0px 2px 2px $c-black-25;

    @include breakpoint($desktop) {
      font-size: 50px;
    }
  }

  &__subHl {
      color: $c-white;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 1.605;
      letter-spacing: normal;
      text-shadow: 0px 2px 2px $c-black-25;

      @include breakpoint($desktop) {
        max-height: 5em;
      }
  }
}

.main {
  &__base {
    background-color: #FFFFFF;
    position: relative;
    padding-bottom: $p-large;
  }
}

// textimage
.textimage {
  &__base {
    &--right,
    &--left {
      width: 50%;
    }
  }
  &__img + .textimage__wrapper {
    .textimage__txt {
      padding-top: $p-medium;
    }
  }
  &__txt {
    font-size: $font-base;
    font-style: normal;
    font-weight: 300;
    text-transform: none;
    line-height: 1.6;
    letter-spacing: normal;
    color:$c-dark-grey;
    
    // RTE
    strong {
      font-weight: bold;
    }

    i {
      font-style: italic;
    }

    a {
      color: rgba(82,159,198,1);
      text-decoration: underline;
    }
  }

}

.footer {
  &__base {
    .panel__base {
      padding-top: $p-small;
    }
  }
  &__list {
    text-align: center;
    padding-bottom: $p-small;
  }
  &__listItem {
    display: inline-block;
  }
  &__link {
    color: #e3e4e4;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    padding: 0 5px;
    -webkit-font-smoothing: antialiased;
  }
}

// atomic definitions
.atomic {
  &-grid {
    &--fr2 {
      @include breakpoint($desktop) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &--unit {
      width: 100%;
    }
  }
  &-align {
    &--left {
      float: left;
      margin-right: 30px;
    }
    &--right {
      float: right;
      margin-left: 30px;
    }
    &--center {
      margin: 0 auto;
    }
  }
  &-size {
    &--half {
      max-width: 50%;
    }
    &--narrow {
      width: 60%;
    }
  }
  &-text {
    &--narrow {
      @include breakpoint($desktop) {
        padding-top: 5%;
      }
    }
  }
  &-clear {
    &--both {
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
  }
  &-borderTop {
    padding-top: $p-small;
    border-top: 1px solid rgba(17,26,11,0.5);
  }
}
.video {
  &__base {
    position: relative;
    width: 100%;
  }

  &__video {
    position: relative;
    display: block;
  }
}
.button {
  &__button {
    display: block;
    border-radius: 0.2em;
    border: solid 1px $c-black-100;
    padding: 7px 17px;
    margin-top: $p-medium;
    font-size: $font-base;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    line-height: 1.35;
    letter-spacing: normal;
    text-decoration: none;
    text-align: center;
    color: $c-black-100;
    transition: color .15s linear, background-color .15s ease-in-out,
    border-color .15s ease-in-out;

    &--cta {
      overflow: hidden;
      border: 2px solid $c-grey;
      border-radius: $p-medium;
      width: auto;
      padding: 8px 20px 9px 20px;
      text-align: center;
      font-size: 16px;
      line-height: 1;
      color: $c-grey;
      vertical-align: middle;
      text-decoration: none;

      &:before {
        content: '♥';
      }
    }
  }
}